.custom-header {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100vw;
    font-size: 3rem;
    background-color: burlywood;
    color: midnightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}